{% extends "base.html" %}

{% block content %}
  <div class="container mt-4" style="max-width: 1200px;">
    <h2 class="text-center mb-4">Total de Notebooks</h2>

    <div class="card p-4 shadow-sm">
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th>Modelo</th>
            <th>quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% if notebooks %}
            {% for notebook in notebooks %}
              <tr>
                <td>{{ notebook.modelo }}</td>
                <td>{{ notebook.quantidade }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4" class="text-center">Nenhum notebook encontrado.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
