{% extends "base.html" %}

{% block content %}
  <div class="container mt-4" style="max-width: 1200px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Lista de Entradas</h2>
      <a href="{% url 'criar_entrada' %}" class="btn btn-success mt-3">Criar Entrada</a>
    </div>

    <div class="card p-4 shadow-sm">
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th>Modelo</th>
            <th>Quantidade</th>
            <th>Data de Entrada</th>
            <th>Observações</th>
            <th>Ações</th>  <!-- Coluna para os botões -->
          </tr>
        </thead>
        <tbody>
          {% if entradas %}
            {% for entrada in entradas %}
              <tr>
                <td>{{ entrada.modelo }}</td>
                <td>{{ entrada.quantidade }}</td>
                <td>{{ entrada.data_entrada }}</td>
                <td>{{ entrada.observações }}</td>
                <td>
                    <a href="{% url 'ver_entrada' entrada.id %}" class="btn btn-info btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'editar_entrada' entrada.id %}" class="btn btn-warning btn-sm">
                      <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'deletar_entrada' entrada.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?')">
                      <i class="fas fa-trash"></i>
                    </a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5" class="text-center">Nenhuma entrada encontrada.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
