{% extends 'base.html' %}

{% block title %}
    SGN - Home
{% endblock %}

{% block content %}
<!-- Inclui o Chart.js se for usar gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Container principal com espaçamento padrão -->
<div class="container my-3">
  <div class="row center-content-center mb-4">
    <div class="col-md-2 text-center bg-primary text-white rounded p-3 mx-3">
      <h6>Total de Notebooks</h6>
      <p class="fs-4">{{ total_notebooks }}</p>
    </div>
    <div class="col-md-2 text-center bg-success text-white rounded p-3 mx-3">
      <h6> Home Office</h6>
      <p class="fs-4">{{ notebooks_ativos }}</p>
    </div>
    <div class="col-md-2 text-center bg-warning text-dark rounded p-3 mx-3">
      <h6>Total de Ocorrências</h6>
      <p class="fs-4">{{ total_ocorrencias }}</p>
    </div>
    <div class="col-md-2 text-center bg-danger text-white rounded p-3 mx-3">
      <h6>Total de Usuários</h6>
      <p class="fs-4">{{ total_usuarios }}</p>
    </div>
  </div>

  <!-- Campo de busca -->
 <nav class="p-0 mt-4">
  <div class="container-fluid bg-body-tertiary" style="max-width: 900px; margin-left: 0; border-radius: 50px;">
    <form class="d-flex p-2" method="GET" action="{% url 'buscar_notebook' %}" role="search">
      <input class="form-control me-2" type="search" name="q" placeholder="Digite aqui o modelo do notebook" aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
  </div>
</nav>


  <!-- Mapa de localização -->
<div class="container mt-5">
  <h5  
  style="margin-left: 340px; max-width: fit-content;"
>
  Localização dos Notebooks
</h5>


  <div
    id="map"
    class="d-block"
    style="
      height: 300px;
      border-radius: 20px;
      max-width: 700px;       
      margin-left: 130px;    
    "
  ></div>
</div>


  <!-- Scripts do Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  {{ cidades_marcadores|json_script:"cidades-data" }}

{{ cidades_marcadores|json_script:"cidades-data" }}

<div id="map" style="height: 400px; max-width: 700px; margin: auto;"></div>

<script>
  var map = L.map('map').setView([-22.9068, -43.1729], 10);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  var redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
    shadowUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  var cidades = JSON.parse(document.getElementById('cidades-data').textContent);

  cidades.forEach(function(cidade) {
    L.marker([cidade.lat, cidade.lng], {icon: redIcon})
      .addTo(map)
      .bindPopup(cidade.cidade);
  });
</script>




{% endblock %}
